@using cloudscribe.Web.Navigation
@model IPagedList<Article>
@{
    ViewData["Title"] = "My Article";
}

<div class="row" style="padding: 2em;">
    <div class="tab-content col-md-10 col-md-push-2">
        <div class="row">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">

                        <div style="display: flex; justify-content: space-between">
                            <a href="@Url.Action(nameof(ArticleController.Edit), nameof(ArticleController).Replace("Controller", ""), new { id = item.Id })">@item.Name</a>
                            <div>
                                <span>@item.CreatedAt</span>
                                <span>
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    <span>@item.Comment.Count</span>
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <span>@item.Attitude.Where(at => at.AttitudeType == Attitude.Type.Like).Count()</span>
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                    <span>@item.Attitude.Where(at => at.AttitudeType == Attitude.Type.DisLike).Count()</span>
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItemCount"
                  cs-pagenumber-param="page"
                  asp-controller="Account"
                  asp-action="Video"></cs-pager>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "Account" })
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}