@model Video
@inject IStringLocalizer<CloudscribeCore> sr
@using cloudscribe.Web.Navigation
@{ 
    ViewData["Title"] = $"Edit {Model.Title}";
}
<div class="row" style="padding: 2em;">
    <div>
        <form asp-controller="Video" asp-action="Edit" method="post" class="form-horizontal">
            <h4>@sr["Edit Video"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" style="display: none;" />
            <div class="form-group">
                <label asp-for="Title" class="col-md-1 control-label">@sr["Title"]</label>
                <div class="col-md-11">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-1 control-label">@sr["Description"]</label>
                <div class="col-md-11">
                    <textarea id="Description" asp-for="Description" style="display:none;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowComment" />@sr["Allow Comment"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <button type="submit" class="btn btn-default">@sr["Edit"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </environment>
    <script>
        var simplemde = new SimpleMDE({ element: $("#Description")[0] });
    </script>
}

@section Styles {
    <environment names="Development">
        <link href="~/lib/simplemde/dist/simplemde.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    </environment>
}