@{
    ViewBag.CarouselCount = 5;
}
@model HomeIndex

<div id="latestUpdate" class="carousel slide mdl-shadow--6dp" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < ViewBag.CarouselCount; i++)
        {
            <li data-target="#latestUpdate" data-slide-to="@i" @(i == 0 ? "class=\"active\"" : "")></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < ViewBag.CarouselCount; i++)
        {
            <div class="item @(i == 0 ? "active" : "")">
                <a href="/Detail?id=@Model.Result.List[i].ID">
                    <img src="@(Model.Result.List[i].Thumb ?? "/Assets/empty-item-image.png")" class="img-responsive carousel-img" alt="@Model.Result.List[i].Name" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@Model.Result.List[i].Name</h1>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#latestUpdate" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#latestUpdate" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@await Html.PartialAsync("_ItemList", Model.Result.List)

<nav aria-label="...">
    <ul class="pager">
        <li class="next"><a href="/Home/More">More<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>