@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.HotVideo.Count; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i" @(i == 0 ? "class=\"active\"" : "")></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.HotVideo.Count; i++)
        {
            <div class="item@(i == 0 ? " active" : "")">
                <img src="@Model.HotVideo[i].Thumb" alt="@Model.HotVideo[i].Title" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @Model.HotVideo[i].Description
                        <a class="btn btn-default" href="@Url.Action("Details", "Video", new { id = Model.HotVideo[i].Id })">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>热门文章</h2>
        <ul>
            @foreach (var item in Model.HotArticle)
            {
                <li><a href="@Url.Action("Details", "Article", new { id = item.Id })">@item.Title</a></li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>最新视频</h2>
        <ul>
            @foreach (var item in Model.NewVideo)
            {
                <li><a href="@Url.Action("Details", "Video", new { id = item.Id })">@item.Title</a></li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>最新文章</h2>
        <ul>
            @foreach (var item in Model.NewArticle)
            {
                <li><a href="@Url.Action("Details", "Article", new { id = item.Id })">@item.Title</a></li>
            }
        </ul>
    </div>
</div>
