@using cloudscribe.Web.Common.Extensions
@using cloudscribe.Web.Navigation
@model IPagedList<Video>
@{
    ViewData["Title"] = "My Video";
}

<div class="row" style="padding: 2em;">
    <div class="tab-content col-md-10 col-md-push-2">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action(nameof(VideoAdminController.Edit), nameof(VideoAdminController).Replace("Controller", ""), new { id = item.Id })">
                        <img src="@item.Thumb" style="width:100%" alt="">
                        <span>@item.Title</span>
                    </a>
                    <br />
                    <span>@item.CreatedAt</span>
                    <br />
                    <span>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span>@item.Comment.Count</span>
                    </span>
                    <span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>@item.Attitude.Count(at => at.AttitudeType == Attitude.Type.Like)</span>
                    </span>
                    <span>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        <span>@item.Attitude.Count(at => at.AttitudeType == Attitude.Type.DisLike)</span>
                    </span>
                </div>
            }
        </div>
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItemCount"
                  cs-pagenumber-param="page"
                  asp-controller="VideoAdmin"
                  asp-action="Index"></cs-pager>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "SiteAdmin" })
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}