@model OneEchan.Server.Models.PostViewModel.PostDetailViewModel
@inject IStringLocalizer<CloudscribeCore> sr
<div class="panel panel-default">
    <div class="panel-body">
        <div class="flexspace" style="justify-content: flex-start;">
            <h2 style="margin-right: 0.4em;">@Model.Post.Title</h2>
            @if (Model.Uploader.Id.ToString() == User.GetUserId())
            {
                @*
                Razor does not support C# 7 at the time (2017-04-04)    
                switch (Model.Post)
                {
                    case Video video:
                        <a href="@Url.Action(nameof(VideoController.Edit), nameof(VideoController).Replace("Controller", ""), new { id = video.Id })">@sr["Edit"]</a>
                        break;
                    case Article article:
                        <a href="@Url.Action(nameof(ArticleController.Edit), nameof(ArticleController).Replace("Controller", ""), new { id = article.Id })">@sr["Edit"]</a>
                        break;
                    default:
                        break;
                }*@
                if (Model.Post is Video)
                {
                    <a href="@Url.Action(nameof(VideoController.Edit), nameof(VideoController).Replace("Controller", ""), new { id = Model.Post.Id })">@sr["Edit"]</a>
                }
                else if (Model.Post is Article)
                {
                    <a href="@Url.Action(nameof(ArticleController.Edit), nameof(ArticleController).Replace("Controller", ""), new { id = Model.Post.Id })">@sr["Edit"]</a>
                }
            }
        </div>
        <br />
        <span class="glyphicon glyphicon-user"></span>
        <span>@Model.Uploader.DisplayName</span>
        @if (Model.Post is Video)
        {
            <markdown>@((Model.Post as Video).Description)</markdown>
        }
        <div class="flexspace">
            <div>
                <span class="glyphicon glyphicon-list-alt"></span>
                <span>@Model.Post.Category.CategoryName.FirstOrDefault().Name</span>
            </div>
            <div>
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>@Model.Post.ViewCount</span>
                <span class="glyphicon glyphicon-comment"></span>
                <span>@Model.Post.Comment.Count</span>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="flexspace">
            <div >
                <span class="glyphicon glyphicon-time"></span>
                <span>@Model.Post.CreatedAt</span>
            </div>
            <div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge">@Model.LikeCount</span>
                    </button>
                    <button type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge">@(Model.TotalAttitudeCount - Model.LikeCount)</span>
                    </button>
                </div>
                <div class="progress" style="height: 4px;margin-bottom: 0">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.LikeCount" aria-valuemin="0" aria-valuemax="@Model.TotalAttitudeCount" style="width: @((double)Model.LikeCount / (double)Model.TotalAttitudeCount * 100d)%">
                        <span class="sr-only">@Model.LikeCount like this video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>