@model OneEchan.Server.Models.PostViewModel.PostDetailViewModel
<div class="panel panel-default">
    <div class="panel-body">
        <h2>@Model.Post.Name</h2>
        <br />
        <span class="glyphicon glyphicon-user"></span>
        <span>@Model.Uploader.DisplayName</span>
        @if (Model.Post is Video)
        {
            <markdown>@((Model.Post as Video).Description)</markdown>
        }
        <div style="display: flex; justify-content: space-between">
            <div>
                <span class="glyphicon glyphicon-list-alt"></span>
                <span>@Model.Post.Category.CategoryName.FirstOrDefault().Name</span>
            </div>
            <div>
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>@Model.Post.ViewCount</span>
                <span class="glyphicon glyphicon-comment"></span>
                <span>@Model.Post.Comment.Count</span>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div style="display: flex;justify-content: space-between">
            <div style="align-self: center;">
                <span class="glyphicon glyphicon-time"></span>
                <span>@Model.Post.CreatedAt</span>
            </div>
            <div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge">@Model.LikeCount</span>
                    </button>
                    <button type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge">@(Model.TotalAttitudeCount - Model.LikeCount)</span>
                    </button>
                </div>
                <div class="progress" style="height: 4px;margin-bottom: 0">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.LikeCount" aria-valuemin="0" aria-valuemax="@Model.TotalAttitudeCount" style="width: @((double)Model.LikeCount / (double)Model.TotalAttitudeCount * 100d)%">
                        <span class="sr-only">@Model.LikeCount like this video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>